<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <link rel="stylesheet" type="text/css" href="/index_c.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <title>TEST</title>
  </head>
  <body>
    <div id="root" class="root">
	    <ul>TEST</ul>
	    <button id="server" type="button">Server</button>
	    <button id="client" type="button">Client</button>

      <div id="config" class="config">
      </div>
    </div>
  <script src="/setting.js"></script>
  </body>
</html>